body {
    margin: 0;
    padding: 0;
    background-color: #871400;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    align-items: center;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header {
    color: rgb(249, 246, 246);
    height: 190px;
    display: flex;
    align-items: center;
    font-size: 30px;
    width: 100%;
    justify-content: center;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.bottom-section {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 150px;
}

.input-container {
    width: 100%;
    max-width: 650px;
    position: relative;
}

input {
    width: 100%;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgb(102, 240, 255) 0 20px 30px -5px;
    box-sizing: border-box;
}

#submit-icon {
    position: absolute;
    top: 10px;
    right: 30px;
}

.images-section{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;

}

.image-container {
    width: 50%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgb(38, 55, 77) 0 20px 30px -5px;
}

.image-container img {
    width: 100%;
}

